services:
  web:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - /var/www/html/sisprestamos/staticfiles:/app/staticfiles
      - /var/www/html/sisprestamos/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: prestamos_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_app
    restart: always
    ports:
      - "8080:8080"

  cron:
    build:
      context: .
      dockerfile: Dockerfile.cron
    container_name: cronjob
    volumes:
      - .:/app
    depends_on:
      - web

volumes:
  postgres_data:
